/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Améliore le responsive des titres */
h1 {
    font-size: 5rem;
}

@media screen and (min-width: 640px) {
    #accordionPosts {
        display: none;
    }
    #accordionComments {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #onlinePosts {
        display: none;
    }
    #reportedComments {
        display: none;
    }
}